<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand ="block" class="ion-margin"(click)="shareViaTwitter()">Twitter</ion-button>
  <ion-button expand ="block" class="ion-margin"(click)="shareViaFacebook()">Facebook</ion-button>
  <ion-button expand ="block" class="ion-margin"(click)="shareViaWhatsApp()">WhatssApp</ion-button>
  <ion-button expand ="block" class="ion-margin"(click)="shareViaWhatsAppToPhone()">WhatssApp To Phone</ion-button>

</ion-content>